<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthyroutine">

    <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthyRoutine">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HealthyRoutine">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Kakao SDK에서 사용하는 Activity 설정 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth" android:scheme="kakao75b8c085854198b90d474828189e42c8" />
            </intent-filter>
        </activity>

        <!-- 기타 액티비티들 -->
        <activity android:name=".BoardActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AuthCodeHandlerActivity" android:exported="true" />
        <activity android:name=".RecommendActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RoutineAddActivity" android:exported="false" android:parentActivityName=".RecommendActivity" />
        <activity android:name=".PostWriteActivity" />
        <activity android:name=".MyPageActivity" android:exported="true" />
        <activity android:name=".MyPostsActivity"/>
        <activity android:name=".LikedPostsActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".EditProfileActivity"/>
        <activity android:name=".NotificationSettingsActivity"/>
        <activity android:name=".SignUpActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".HomeActivity"/>-->
        <activity android:name=".MonthlyStatsActivity"/>
        <activity android:name=".FindAccountActivity"/>
        <activity android:name=".RoutineEditActivity"/>

        <activity android:name=".HomeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Google Sign-In 서비스 추가 -->
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:excludeFromRecents="true"
            android:exported="false" />

    </application>
</manifest>