
<activity
android:name=".MainActivity"
android:exported="true"
android:label="@string/app_name"
android:theme="@style/Theme.HealthyRoutine">
<intent-filter>
    <action android:name="android.intent.action.MAIN" />
    <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>

<activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
android:exported="true">
<intent-filter>
    <action android:name="android.intent.action.VIEW" />
    <category android:name="android.intent.category.DEFAULT" />
    <category android:name="android.intent.category.BROWSABLE" />
    <data android:host="oauth" android:scheme="kakao75b8c085854198b90d474828189e42c8" />
</intent-filter>
</activity>

<activity android:name=".AuthCodeHandlerActivity" android:exported="true"/>
<service android:name=".GlobalApplication" android:exported="false" android:permission="android.permission.BIND_JOB_SERVICE"/>
<activity android:name=".main.popupActivity"
            android:theme="@style/DialogTheme"/>