<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthyroutine">

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthyRoutine">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HealthyRoutine">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth" android:scheme="kakao75b8c085854198b90d474828189e42c8" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BoardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AuthCodeHandlerActivity"
            android:exported="true" />

        <activity
            android:name=".popupActivity"
            android:theme="@style/DialogTheme" />

        <activity
            android:name=".RecommendActivity"
            android:exported="true">
            <!--이게 맞나..-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RoutineAddActivity 선언 -->
        <!--RecommendActivity랑 연결하려고 수정-->
        <activity
            android:name=".RoutineAddActivity"
            android:exported="false"
            android:parentActivityName=".RecommendActivity" />

        <!-- PostWriteActivity 선언 -->
        <activity android:name=".PostWriteActivity" />

        <!-- MyPageActivity 선언 -->
        <activity android:name=".MyPageActivity"
            android:exported="true" >
        </activity>
        <activity android:name=".MyPostsActivity"/>
        <activity android:name=".LikedPostsActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".EditProfileActivity"/>
        <activity android:name=".NotificationSettingsActivity"/>

        <activity
            android:name=".SignUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity"/>
        <activity android:name=".MonthlyStatsActivity"/>
        <activity android:name=".FindAccountActivity"/>


    </application>
</manifest>